﻿@model EEHAutomotor.DTO.ConductorDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h1>Crear nuevo Conductor</h1>
        <i class="la arrow-left-demo"></i> <a asp-action="Index">Regresar</a>
    </div>
</div>

<!-- // Basic form layout section -->
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @*<h4 class="card-title" id="bordered-layout-colored-controls">Perfíl Vehículo</h4>*@
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal form-bordered" method="post" id="FrmNewConduct" enctype="multipart/form-data" novalidate>
                            @*enctype="multipart/form-data"*@
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                <h4 class="form-section"><i class="la la-cc"></i>Datos de persona</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label asp-for="Identidad" class="label-control">Identidad: <span class="danger">*</span></label>
                                                <div class="controls">
                                                    <input asp-for="Identidad" type="number" name="Identidad" class="form-control" placeholder="####-####-#####" required data-validation-required-message="Campo requerido!">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label asp-for="Nombre" class="label-control">Nombre: <span class="danger">*</span></label>
                                                <div class="controls">
                                                    <input asp-for="Nombre" type="text" name="Nombre" class="form-control" placeholder="Nombre" required data-validation-required-message="Campo requerido!">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <div class="custom-file">
                                                <label asp-for="IdCargo" class="label-control">Cargo: <span class="text-danger">*</span></label>
                                                <div class="controls">
                                                    <select asp-for="IdCargo" class="form-control" asp-items="ViewBag.ListCargo" required data-validation-required-message="Campo requerido!"></select>
                                                    <span asp-validation-for="IdCargo" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label asp-for="Telefono" class="label-control">Telefono: <span class="danger">*</span></label>
                                                <div class="controls">
                                                    <input asp-for="Telefono" type="number" name="Telefono" class="form-control" placeholder="#### ####" required data-validation-required-message="Campo requerido!">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label asp-for="Ciudad" class="label-control">Ciudad: <span class="danger">*</span></label>
                                                <div class="controls">
                                                    <input asp-for="Ciudad" type="text" name="Ciudad" class="form-control" placeholder="Ciudad" required data-validation-required-message="Campo requerido!">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="custom-file">
                                                <label asp-for="IdProceso" class="label-control">Proceso: <span class="text-danger">*</span></label>
                                                <div class="controls">
                                                    <select asp-for="IdProceso" class="form-control" asp-items="ViewBag.ListProceso" required data-validation-required-message="Campo requerido!"></select>
                                                    <span asp-validation-for="IdProceso" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label asp-for="TipoLicencia" class="label-control">Tipo de Licencia: <span class="text-danger">*</span></label>
                                                <div class="controls">
                                                    <select asp-for="TipoLicencia" class="form-control" asp-items="ViewBag.Listlicencia" required data-validation-required-message="Campo requerido!"></select>
                                                    <span asp-validation-for="TipoLicencia" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label asp-for="FechaLicenciaVence" class="label-control">Fecha Vencimiento Licencia: <span class="danger">*</span></label>
                                                <div class="controls">
                                                    <input asp-for="FechaLicenciaVence" type="date" name="FechaLicenciaVence" class="form-control" placeholder="##-##-####" required data-validation-required-message="Campo requerido!">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label asp-for="idSector" class="label-control">Sector Asignado: <span class="text-danger">*</span></label>
                                                <div class="controls">
                                                    <select asp-for="idSector" class="form-control" asp-items="ViewBag.ListSector" required data-validation-required-message="Campo requerido!"></select>
                                                    <span asp-validation-for="idSector" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <br />
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label>Fotografía(s) Licencia: <span class="danger">*</span></label>
                                                <div class="controls">
                                                    <input type="file" id="files" name="files" class="form-control" required data-validation-required-message="Este campo es requerido." multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @{
                                if (Model == null)
                                {
                                    <div class="form-actions text-right">
                                        <button type="submit" id="btnCreate" class="btn btn-primary" value="Create">
                                            <i class="la la-check-square-o"></i> Guardar
                                        </button>
                                    </div>
                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Basic form layout section end -->

@section Styles {

}

@section Scripts {
    <script src="~/js/JsConductores.js"></script>
    <script>
        $(function () {
            ControlConductor(2);
        });
    </script>
}