﻿@model IEnumerable<EEHAutomotor.DTO.ConductorDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Conductores</h1>
<br />
<p>
    <i class="la la-user-plus"></i> <a asp-action="Create">Crear Nuevo Conductor</a>
</p>


<!-- conductores Table -->
<div class="row match-height">
    <div id="divTbConductores" class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title info">Lista de Conductores</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content mt-1">
                <div class="table-responsive">
                    <table class="table table-primary table-bordered bootstrap-3 compact" id="GridConductores" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>IDENTIDAD</th>
                                <th>NOMBRE</th>
                                <th>TELEFONO</th>
                                <th>CIUDAD</th>
                                <th>SECTOR</th>
                                <th>TIPO LICENCIA</th>
                                <th>LICENCIA VENCE</th>
                                <th>CARGO</th>
                                <th>PROCESO</th>
                                <th>ACCION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdConductor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Identidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ciudad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomSector)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoLicencia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaLicenciaVence)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomCargo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomProceso)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", "Conductor", routeValues: new { id = item.IdEncode }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
                                </td>
                            </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- conductores Table Ends -->

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
}

@section Scripts {
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsConductores.js"></script>
    <!-- Datatable -->
    <script>
        $(function () {
            control = new ControlConductor(1);
        });
    </script>
}

