﻿
@model IEnumerable<EEHAutomotor.DTO.ConductorDto>

@{

    <div class="modal fade animated bounceInDown text-left" id="ModalConductor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel47" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel47">Buscar Conductor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- conductores Table -->
                    <div class="row match-height">
                        <div id="divTbConductores" class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title info">Lista de Conductores</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                </div>
                                <div class="card-content mt-1">
                                    <div class="table-responsive">
                                        <table class="table table-primary table-bordered bootstrap-3 compact" id="GridConductores" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>IDENTIDAD</th>
                                                    <th>NOMBRE</th>
                                                    <th>TELEFONO</th>
                                                    <th>CIUDAD</th>
                                                    <th>TIPO LICENCIA</th>
                                                    <th>LICENCIA VENCE</th>
                                                    <th>CARGO</th>
                                                    <th>PROCESO</th>
                                                    <th>ACCION</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.IdConductor)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Identidad)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Nombre)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Telefono)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Ciudad)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.TipoLicencia)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.FechaLicenciaVence)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.NomCargo)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.NomProceso)
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- conductores Table Ends -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

