﻿@model EEHAutomotor.DTO.SiniestroDto

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h1>Detalles de Siniestro</h1>
        <i class="la arrow-left-demo"></i> <a asp-action="Index">Regresar</a>
    </div>
</div>


<!-- // Basic form layout section -->
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @*<h4 class="card-title" id="bordered-layout-colored-controls">Perfíl Vehículo</h4>*@
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal form-bordered" method="post" id="FrmViewSiniestro" enctype="multipart/form-data" novalidate>
                            @*enctype="multipart/form-data"*@
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                <h4 class="form-section"><i class="la la-cc"></i>Datos de Vehiculo</h4>
                                <fieldset disabled>
                                    <div class="row">
                                        <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                            <input type="hidden" asp-for="IdVehiculo" name="IdVehiculo">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="VIN">VIN:</label>
                                                        <input type="text" asp-for="VIN" class="form-control" name="VIN" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="Motor">Motor:</label>
                                                        <input type="text" asp-for="Motor" class="form-control" name="Motor" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="CodPlaca">Placa:</label>
                                                        <input type="text" asp-for="CodPlaca" class="form-control" name="CodPlaca" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="NomMarca">Marca:</label>
                                                        <input type="text" asp-for="NomMarca" class="form-control" name="NomMarca" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="ModeloDescrip">Modelo:</label>
                                                        <input type="text" asp-for="ModeloDescrip" class="form-control" name="ModeloDescrip" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="Color">Color:</label>
                                                        <input type="text" asp-for="Color" class="form-control" name="Color" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                            <input type="hidden" asp-for="IdConductor" name="IdConductor">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="Identidad">Identidad:</label>
                                                        <input type="text" asp-for="Identidad" class="form-control" name="Identidad" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="NomConductor">Nombre:</label>
                                                        <input type="text" asp-for="NomConductor" class="form-control" name="NomConductor" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <label asp-for="LugarEvento" class="label-control">Lugar del evento ocurrido:</label>
                                                    <div class="controls">
                                                        <textarea asp-for="LugarEvento" name="LugarEvento" rows="3" class="form-control border-primary" placeholder="Texto Libre.." ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="FechaOcurrio" class="label-control">Fecha de Suceso:</label>
                                                <div class="controls">
                                                    <input asp-for="FechaOcurrio" type="datetime-local" name="FechaOcurrio" class="form-control col-md-6" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <br />
                                            <div class="form-group">
                                                <label class="label-control">Existen Terceros:</label>
                                                <br />
                                                <label for="ExistenTerceros" class="font-medium-2 text-bold-600 card-title info"> NO</label>
                                                <input type="checkbox" asp-for="ExistenTerceros" name="ExistenTerceros" class="switchery" data-size="lg" data-color="success" value="ExistenTerceros" checked disabled />
                                                <label for="ExistenTerceros" class="font-medium-2 text-bold-600 card-title success">SI</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="CostoTerceros" class="label-control">Costo Terceros:</label>
                                                <div class="input-group mt-0">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">LPS</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <div class="controls">
                                                            <input asp-for="CostoTerceros" type="text" name="CostoTerceros" class="form-control col-md-6" placeholder="0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <label asp-for="DatosTercero" class="label-control">Datos Terceros:</label>
                                                    <div class="controls">
                                                        <textarea asp-for="DatosTercero" name="DatosTercero" rows="3" class="form-control border-primary" placeholder="Texto Libre.."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <label asp-for="Sector" class="label-control">Sector Asignado:</label>
                                                    <input asp-for="Sector" type="text" name="Sector" class="form-control col-md-6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="VelocidadTransitada" class="label-control">Velocidad Transitada:</label>
                                                <div class="input-group mt-0">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Km/h</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <div class="controls">
                                                            <input asp-for="VelocidadTransitada" type="text" name="VelocidadTransitada" class="form-control col-md-6" placeholder="0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="CostoReparacion" class="label-control">Costo Reparación:</label>
                                                <div class="input-group mt-0">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">LPS</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <div class="controls">
                                                            <input asp-for="CostoReparacion" type="text" name="CostoReparacion" class="form-control col-md-6" placeholder="0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <label asp-for="RelatoSiniestro" class="label-control">Relato de Siniestro:</label>
                                                    <div class="controls">
                                                        <textarea asp-for="RelatoSiniestro"  name="RelatoSiniestro" rows="3" class="form-control border-primary" placeholder="Texto Libre.."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <label asp-for="DescripDanio" class="label-control">Descripción de Daños:</label>
                                                    <div class="controls">
                                                        <textarea asp-for="DescripDanio" name="DescripDanio" rows="3" class="form-control border-primary"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <label asp-for="Responsabilidad" class="label-control">Responsabilidad dictaminada por juez:</label>
                                                    <div class="controls">
                                                        <input asp-for="Responsabilidad" name="Responsabilidad" class="form-control border-primary" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </fieldset>
                                <div class="row">
                                    <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                        <h4 class="form-section"><i class="la la-check-square-o"></i>Descargar Archivos</h4>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row mx-auto">
                                                    <p class="text-center">
                                                        <a class="btn btn-primary" id="btnDocs" asp-controller="Siniestro" asp-action="DownloadFilesSini" asp-route-id="@Model.IdEncode" download>Descargar Archivos Adjuntos - ZIP</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-callout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/toggle/switchery.min.css">
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsGen.js"></script>
    <script src="~/js/JsSiniestros.js"></script>
    <script src="~/app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/toggle/switchery.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"></script>
    <script src="~/app-assets/js/scripts/forms/switch.js"></script>
    <script>
        $(function () {
            
        });
    </script>
}