﻿@model EEHAutomotor.DTO.SessionUser
<!-- BEGIN: Header-->

@{
    if (Model != null)
    {
        <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light bg-info navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                                <img class="brand-logo" alt="modern admin logo" src="~/app-assets/images/logo/eehlogo-100.png">
                                <h3 class="brand-text">AUTOMOTOR EEH</h3>
                            </a>
                        </li>
                        <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                            <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                        </ul>
                        <ul class="nav navbar-nav float-right">
                            <li class="dropdown dropdown-user nav-item">
                                <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="mr-1 user-name text-bold-700">@Model.UsuarioSoeeh</span><span class="avatar avatar-online"><img src="~/app-assets/images/icons/userIco.ico" alt="avatar"><i></i></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ft-user"></i> Edit Profile</a><a class="dropdown-item" href="#"><i class="ft-mail"></i> My Inbox</a><a class="dropdown-item" href="#"><i class="ft-check-square"></i> Task</a><a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="@Url.Action("LogOut", "Login")"><i class="ft-power"></i> Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- BEGIN: Main Menu-->
        <!-- BEGIN: Main Menu-->
        <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
            <div class="main-menu-content">
                <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class="active">
                        <a href="@Url.Action("Index", "Home")"><i class="la la-home"></i><span class="menu-title" data-i18n="Dashboard EHH Automotor">Inicio</span></a>
                    </li>

                    @if (Model.MenuOpciones.Count() > 0)
                    {
                        @foreach (var modulo in Model.MenuOpciones)
                        {
                            <li class=" nav-item">
                                <a href="#"><i class="la la-edit"></i><span class="menu-title" data-i18n="Appointment">@modulo.NomModulo</span></a>

                                @foreach (var menu in modulo.MenuAutomotor)
                                {
                                    <ul class="menu-content">
                                        <li>
                                            <a class="menu-item" href="@Url.Action(menu.NomAction, menu.NomController)"><i></i><span>@menu.NomMenu </span></a>
                                        </li>
                                    </ul>
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <!-- END: Main Menu-->
    }
}
