﻿@model EEHAutomotor.DTO.PlacasDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h1>Crear nueva Placa</h1>
        <i class="la arrow-left-demo"></i> <a asp-action="Index">Regresar</a>
    </div>
</div>

<!-- // Basic form layout section -->
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @*<h4 class="card-title" id="bordered-layout-colored-controls">Perfíl Vehículo</h4>*@
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal form-bordered" method="post" id="FrmNewPlaca" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                <h4 class="form-section"><i class="la la-cc"></i>Datos de Placa</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto custom-file">
                                            <label asp-for="Codigo" class="label-control">Placa: <span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input asp-for="Codigo" name="Codigo" class="form-control border-primary col-md-6" placeholder="PLACA"
                                                       required data-validation-required-message="Campo requerido!">

                                                @*pattern="[A-Z]{3}[0-9]{4}" data-validation-pattern-message='Formato de placa: 3 Letras en "MAYÚSCULAS", seguído de 3 números, (Ingresar sin espacio y signos)'*@

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @{
                                if (Model == null)
                                {
                                    <div class="form-actions text-left">
                                        <button type="submit" id="btnCreate" class="btn btn-primary" value="Create">
                                            <i class="la la-check-square-o"></i> Guardar
                                        </button>
                                    </div>
                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Basic form layout section end -->

@section Styles {

}

@section Scripts {
    <script src="~/js/JsPlacas.js"></script>
    <!-- Datatable -->
    <script>
        $(function () {
            ControlPlacas(2);
        });
    </script>
}