﻿@model IEnumerable<EEHAutomotor.DTO.PlacasDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Inventario de Placas</h1>

<br />
<p>
    <i class="la la-cc"></i> <a asp-action="Create">Crear Nueva Placa</a>
</p>


<!-- Inventario Placas Table -->
<div class="row match-height">
    <div id="divTbPlacas" class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title info">Placas</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content mt-1">
                <div class="table-responsive">
                    <table class="table table-primary table-bordered bootstrap-3 compact" id="GridPlacas" style="width:100%">
                        <thead>
                            <tr>
                                <th>PLACA</th>
                                <th>PAU</th>
                                <th>VIN</th>
                                <th>MOTOR</th>
                                <th>MARCA</th>
                                <th>MODELO</th>
                                <th>COLOR</th>
                                <th>EN USO</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Codigo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdVehiculo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Motor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Marca)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Modelo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnUso)
                                </td>
                            </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inventario Placas Table Ends -->

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
}

@section Scripts {
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsPlacas.js"></script>
    <!-- Datatable -->
    <script>
        $(function () {
            control = new ControlPlacas(1);
        });
    </script>
}
