﻿@model EEHAutomotor.DTO.AsignaDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h1>Crear Asignación</h1>
        <i class="la arrow-left-demo"></i> <a asp-action="Index">Regresar</a>
    </div>
</div>

<!-- // Basic form layout section -->
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @*<h4 class="card-title" id="bordered-layout-colored-controls">Perfíl Vehículo</h4>*@
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal form-bordered" method="post" id="FrmNewAsigna" enctype="multipart/form-data" novalidate>
                            @*enctype="multipart/form-data"*@
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                <h4 class="form-section"><i class="la la-cc"></i>Datos de Vehiculo</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row mx-auto">
                                            <button type="button" id="BtnBuscaVehiculo" class="btn btn-outline-info btn-min-width btn-glow mr-1 mb-1 text-center" data-toggle="modal" data-target="#bounceInDown">
                                                <i class="ft-search"></i> Buscar Vehículo
                                            </button>
                                        </div>
                                    </div>
                                    <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                        <input type="hidden" asp-for="IdVehiculo" name="IdVehiculo" required>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="VinNew">VIN:</label>
                                                    <input type="text" id="VinNew" class="form-control" name="VinNew" readonly="readonly" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="MotorNew">Motor:</label>
                                                    <input type="text" id="MotorNew" class="form-control" name="MotorNew" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="PlacaNew">Placa:</label>
                                                    <input type="text" id="PlacaNew" class="form-control" name="PlacaNew" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="MarcaNew">Marca:</label>
                                                    <input type="text" id="MarcaNew" class="form-control" name="MarcaNew" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ModeloNew">Modelo:</label>
                                                    <input type="text" id="ModeloNew" class="form-control" name="ModeloNew" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ColorNew">Color:</label>
                                                    <input type="text" id="ColorNew" class="form-control" name="ColorNew" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row mx-auto">
                                            <button type="button" id="BtnBuscaConductor" class="btn btn-outline-info btn-min-width btn-glow mr-1 mb-1 text-center" data-toggle="modal" data-target="#ModalConductor">
                                                <i class="ft-search"></i> Buscar Conductor
                                            </button>
                                        </div>
                                    </div>
                                    <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                        <input type="hidden" asp-for="IdConductor" name="IdConductor" required>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Identidad">Identidad:</label>
                                                    <input type="text" id="Identidad" class="form-control" name="Identidad" readonly="readonly" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Nombre">Nombre:</label>
                                                    <input type="text" id="Nombre" class="form-control" name="Nombre" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label asp-for="FechaAsignado" class="label-control">Fecha Asignación: <span class="danger">*</span></label>
                                                <div class="controls">
                                                    <input asp-for="FechaAsignado" type="date" name="FechaAsignado" class="form-control col-md-6" placeholder="#### ####" required data-validation-required-message="Campo requerido!">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label asp-for="KmAsigna" class="label-control">Km Vehículo (Recibe Vehículo): <span class="danger">*</span></label>
                                                <div class="controls">
                                                    <input asp-for="KmAsigna" type="number" name="KmAsigna" class="form-control col-md-6" placeholder="####" required data-validation-required-message="Campo requerido!">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label>Archivo de Asignación: <span class="danger">*</span></label>
                                                <div class="controls">
                                                    <input type="file" id="files" name="files" class="form-control" required data-validation-required-message="Este campo es requerido." multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @{
                                if (Model == null)
                                {
                                    <div class="form-actions text-right">
                                        <button type="submit" id="btnCreate" class="btn btn-primary" value="Create">
                                            <i class="la la-check-square-o"></i> Guardar
                                            </button>
                                    </div>
                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Basic form layout section end -->
@*@await Component.InvokeAsync("VCBuscaVehiculo")*@
@await Component.InvokeAsync("VCBuscaVehiculoConductorNoAsig")
@await Component.InvokeAsync("VCBuscaConductor")

@section Styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-callout.css">
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsGen.js"></script>
    <script src="~/js/JsAsigna.js"></script>
    <script>
        $(function () {
            ControlAsigna(4);
            ControlAsigna(3);
        });
    </script>
}