﻿@model EEHAutomotor.DTO.AsignaDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string formEnable = Model != null && !Model.Entregado ? "Enable" : "disabled";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h1>Editar Asignación</h1>
        <i class="la arrow-left-demo"></i> <a asp-action="Index">Regresar</a>
    </div>
</div>

<!-- // Basic form layout section -->
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @*<h4 class="card-title" id="bordered-layout-colored-controls">Perfíl Vehículo</h4>*@
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal form-bordered" method="post" id="FrmEditAsigna" enctype="multipart/form-data" novalidate>
                            @*enctype="multipart/form-data"*@
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                <fieldset @formEnable>
                                    <div class="row">
                                        <input type="hidden" asp-for="IdAsignacion" name="IdAsignacion">
                                        <input type="hidden" asp-for="IdVehiculo" name="IdVehiculo">
                                        <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                            <h4 class="form-section"><i class="la la-check-square-o"></i>Dato Vehículo</h4>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="VinNew">VIN:</label>
                                                        <input type="text" asp-for="Vehiculo.Vin" class="form-control" name="VinNew" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="MotorNew">Motor:</label>
                                                        <input type="text" asp-for="Vehiculo.Motor" class="form-control" name="MotorNew" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="PlacaNew">Placa:</label>
                                                        <input type="text" asp-for="Vehiculo.Placa" class="form-control" name="PlacaNew" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="MarcaNew">Marca:</label>
                                                        <input type="text" asp-for="Vehiculo.Marca" class="form-control" name="MarcaNew" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="ModeloNew">Modelo:</label>
                                                        <input type="text" asp-for="Vehiculo.Modelo" class="form-control" name="ModeloNew" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="ColorNew">Color:</label>
                                                        <input type="text" asp-for="Vehiculo.Color" class="form-control" name="ColorNew" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <input type="hidden" asp-for="IdConductor" name="IdConductor">
                                        <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-6">
                                            <h4 class="form-section"><i class="la la-check-square-o"></i>Dato Conductor</h4>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="Identidad">Identidad:</label>
                                                        <input type="text" asp-for="Identidad" class="form-control" name="Identidad" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="Nombre">Nombre:</label>
                                                        <input type="text" asp-for="Conductor" class="form-control" name="Nombre" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-6">
                                            <h4 class="form-section"><i class="la la-check-square-o"></i>Dato de Asignación</h4>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="FechaAsignado">Fecha Asignación:</label>
                                                        <input type="text" asp-for="FechaAsignado" class="form-control" name="FechaAsignado" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="KmAsigna">Kilometros (Asignación):</label>
                                                        <input type="text" asp-for="KmAsigna" class="form-control" name="KmAsigna" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="row">
                                    <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-4">
                                        <h4 class="form-section"><i class="la la-check-square-o"></i>Descargar Archivos</h4>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row mx-auto">
                                                    <p class="text-center">
                                                        <a class="btn btn-primary" id="btnDocs" asp-controller="Asigna" asp-action="DownloadFilesAsig" asp-route-id="@Model.IdEncode" download>Descargar Archivos Adjuntos - ZIP</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <fieldset @formEnable class="bs-callout-red callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-8">
                                        <h4 class="form-section"><i class="la la-check-square-o"></i>Datos de Cierre</h4>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <br />
                                                <div class="form-group row mx-auto">

                                                    @if (!Model.Entregado)
                                                    {
                                                        <label for="Entregado" class="font-medium-2 text-bold-600 card-title success">VIGENTE</label>
                                                    }
                                                    <input type="checkbox" asp-for="Entregado" name="Entregado" class="switchery" data-size="lg" data-color="danger" />
                                                    @if (!Model.Entregado)
                                                    {
                                                        <label for="switcherySize6" class="font-medium-2 text-bold-600 card-title danger">FINALIZAR</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="Entregado" class="font-medium-2 text-bold-600 card-title danger"> Asignación Finalizada</label>
                                                    }
                                                </div>
                                            </div>
                                            <div id="dvSalida" class="col-md-8">
                                                <div class="controls">
                                                    <div class="form-group row mx-auto">
                                                        <label asp-for="KmEntrega" class="col-md-3 label-control">Kilometros (Entrega Vehículo): <span class="danger">*</span></label>
                                                        <div class="col-md-9">
                                                            <input asp-for="KmEntrega" type="number" name="KmEntrega" class="form-control col-md-4" placeholder="####" required data-validation-required-message="Campo requerido!">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="row">
                                    <div class="bs-callout-warning callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                        <h4 class="form-section"><i class="la la-check-square-o"></i>Observaciones de Asignación</h4>
                                        <div class="row">
                                            @if (!Model.Entregado)
                                            {
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="ObsvInsrt">Observación:</label>
                                                        <input type="text" asp-for="ObsvInsrt" class="form-control border-primary" name="ObsvInsrt">
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-md-12">
                                                <table class="table table-primary table-bordered bootstrap-3 compact" id="GridObservaciones" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Fecha</th>
                                                            <th>OBSV</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            if (Model.Observaciones != null)
                                                            {
                                                                @foreach (var item in Model.Observaciones)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Fecha)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                @{
                                    if (Model != null)
                                    {
                                        if (!Model.Entregado)
                                        {
                                            <div class="form-actions text-right">
                                                <button type="submit" id="btnCreate" class="btn btn-primary" value="Create">
                                                    <i class="la la-check-square-o"></i> Guardar
                                                </button>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic form layout section end -->

@section Styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-callout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/toggle/switchery.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/JsAsigna.js"></script>
    <script src="~/app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/toggle/switchery.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"></script>
    <script src="~/app-assets/js/scripts/forms/switch.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script>
        $(function () {
            control = new ControlAsigna(2);
        });
    </script>
}