﻿@model IEnumerable<EEHAutomotor.DTO.AsignaDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ASIGNACIÓN</h1>
<br />
<p>
    <i class="la la-check-circle"></i> <a asp-action="Create">Crear Asignación</a>
</p>


<!-- conductores Table -->
<div class="row match-height">
    <div id="divTbVehCon" class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title info">Lista de Asignaciones</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content mt-1">
                <div class="table-responsive">
                    <table class="table table-primary table-bordered bootstrap-3 compact" id="GridVehCon" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>PAU</th>
                                <th>VIN</th>
                                <th>PLACA</th>
                                <th>MOTOR</th>
                                <th>CONDUCTOR</th>
                                <th>IDENTIDAD</th>
                                <th>FECHA ASIGNACIÓN</th>
                                <th>FECHA FINALIZA</th>
                                <th>KM ASIGNA</th>
                                <th>KM ENTREGA</th>
                                <th>ESTADO</th>
                                <th>SECTOR</th>
                                <th>CIUDAD</th>
                                <th>ACCION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IdAsignacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IdVehiculo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Vehiculo.Vin)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Vehiculo.Placa)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Vehiculo.Motor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Conductor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Identidad)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaAsignado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaFinaliza)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.KmAsigna)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.KmEntrega)
                                            </td>
                                            <td>
                                                @if (!item.Entregado)
                                                {
                                                    <div class="badge border-warning warning badge-border">VIGENTE</div>
                                                }
                                                else
                                                {
                                                    <div class="badge border-success success badge-border">FINALIZADO</div>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NomSector)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ciudad)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Ver" + (!item.Entregado ? " / Editar" : ""), "Edit", "Asigna", routeValues: new { id = item.IdEncode }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- conductores Table Ends -->

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
}

@section Scripts {
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsAsigna.js"></script>
    <!-- Datatable -->
    <script>
        $(function () {
            control = new ControlAsigna(1);
        });
    </script>
}
