﻿@model EEHAutomotor.DTO.ExcesoSave


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string listaPlacasError = string.Empty;
}

<h1>Cargar Excesos de velocidad a base de datos</h1>

<!-- // Basic form layout section -->
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @*<h4 class="card-title" id="bordered-layout-colored-controls">Perfíl Vehículo</h4>*@
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal form-bordered" method="post" id="FrmNewExceso" enctype="multipart/form-data" novalidate>
                            @*enctype="multipart/form-data"*@
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                @{
                                    if (Model == null)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <br />
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <label>Archivo Excel - Excesos Velocidad: <span class="danger">*</span></label>
                                                        <div class="controls">
                                                            <input type="file" id="files" name="files" class="form-control" required data-validation-required-message="Este campo es requerido.">
                                                        </div>
                                                    </div>
                                                    <div class="form-actions text-left">
                                                        <button type="submit" id="btnCreate" class="btn btn-primary" value="Import">
                                                            <i class="la la-check-square-o"></i> Cargar / Validar Archivo
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="row">
                                    <div class="col-md-12">
                                        @{
                                            if (Model != null)
                                            {
                                                <!-- Excesos Table -->
                                                <div class="row match-height">
                                                    <div id="divTbVehiculos" class="col-12 col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                @{
                                                                    if (Model.ListaExcesoDto != null)
                                                                    {
                                                                        <h4 class="card-title info">Reportes: @Model.ListaExcesoDto.Count </h4>
                                                                    }
                                                                    else
                                                                    {
                                                                        <h4 class="card-title info">@Model.MsjSave</h4>
                                                                    }
                                                                }
                                                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                                            </div>
                                                            

                                                            <div class="card-content mt-1">
                                                                <div class="table-responsive">
                                                                    <table class="table table-primary table-bordered bootstrap-3 compact" id="GridReportes" style="width:100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>IdExceso</th>
                                                                                <th>PAU</th>
                                                                                <th>PLACA</th>
                                                                                <th>COLOR</th>
                                                                                <th>IdMarca</th>
                                                                                <th>MARCA</th>
                                                                                <th>CATEGORIA</th>
                                                                                <th>MODELO</th>
                                                                                <th>VIN</th>
                                                                                <th>MOTOR</th>
                                                                                <th>FECHA/HORA FIN</th>
                                                                                <th>DURACIÓN</th>
                                                                                <th>VELOCIDAD EXCESO</th>
                                                                                <th>LOCALIZACIÓN</th>
                                                                                <th>IdConductor</th>
                                                                                <th>CONDUCTOR</th>
                                                                                <th>COORD XY</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @{
                                                                                if (Model != null)
                                                                                {
                                                                                    if (Model.ListaExcesoDto != null)
                                                                                    {
                                                                                        @foreach (var item in Model.ListaExcesoDto)
                                                                                        {
                                                                                            <tr>
                                                                                                <td>
                                                                                                    @*col 0*@
                                                                                                    @Html.DisplayFor(modelItem => item.IdExceso)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 1*@
                                                                                                    @Html.DisplayFor(modelItem => item.IdVehiculo)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 2*@
                                                                                                    @Html.DisplayFor(modelItem => item.CodPlaca)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 3*@
                                                                                                    @Html.DisplayFor(modelItem => item.Color)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 4*@
                                                                                                    @Html.DisplayFor(modelItem => item.IdMarca)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 5*@
                                                                                                    @Html.DisplayFor(modelItem => item.NomMarca)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 6*@
                                                                                                    @Html.DisplayFor(modelItem => item.Categoria)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 7*@
                                                                                                    @Html.DisplayFor(modelItem => item.Modelo)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 8*@
                                                                                                    @Html.DisplayFor(modelItem => item.VIN)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 9*@
                                                                                                    @Html.DisplayFor(modelItem => item.Motor)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 10*@
                                                                                                    @Html.DisplayFor(modelItem => item.FechaHoraFin)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 11*@
                                                                                                    @Html.DisplayFor(modelItem => item.Duracion)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 12*@
                                                                                                    @Html.DisplayFor(modelItem => item.VelocidadExceso)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 13*@

                                                                                                    @{
                                                                                                        string locCorto = item.Localizacion.Length > 11 ? item.Localizacion.Substring(0, 10) + "..." : item.Localizacion;
                                                                                                        @Html.DisplayFor(modelItem => locCorto)
                                                                                                    }
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 14*@
                                                                                                    @Html.DisplayFor(modelItem => item.IdConductor)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 15*@
                                                                                                    @Html.DisplayFor(modelItem => item.NomConductor)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @*col 16*@
                                                                                                    @Html.DisplayFor(modelItem => item.CordXY)
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Excesos Table Ends -->
                                            }
                                        }
                                    </div>
                                </div>
                                @{
                                    if (Model != null)
                                    {
                                        if (Model.ListaPlacaError != null && Model.ListaPlacaError.Count > 0)
                                        {
                                            listaPlacasError = string.Join(", ", Model.ListaPlacaError.Distinct().ToList());

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="custom-file">
                                                            <label for="PlacasError" class="label-control">Ocurrió un problema con @Model.ListaPlacaError.Count Placas, por lo cual no se puede guardar este archivo:</label>
                                                            <div class="controls">
                                                                <textarea id="PlacasError" name="PlacasError" rows="8" class="form-control border-primary" readonly="readonly">@listaPlacasError</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic form layout section end -->

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
}

@section Scripts {
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsExcesos.js"></script>
    <script>
        $(function () {
            ControlExcesos(2);
            ControlExcesos(3);
        });
    </script>
}