﻿@model EEHAutomotor.DTO.ExcesoDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de Exceso de Velocidad</h1>
<a asp-action="Index">Regresar</a>

@{
    if (Model != null)
    {
        <section id="basic-form-layouts">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            @*<h4 class="card-title" id="bordered-layout-colored-controls">Perfíl Vehículo</h4>*@
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collpase show">
                            <div class="card-body">
                                <form class="form form-horizontal form-bordered" method="post" id="FrmDetalleExceso" novalidate>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <fieldset disabled>
                                        <div class="form-body">
                                            @*vehiculo*@
                                            <div class="row">
                                                <input type="hidden" asp-for="IdVehiculo" name="IdVehiculo">
                                                <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                                    <h4 class="form-section"><i class="la la-check-square-o"></i>Dato Vehículo</h4>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="VinNew">VIN:</label>
                                                                <input type="text" asp-for="VIN" class="form-control" name="VinNew" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="MotorNew">Motor:</label>
                                                                <input type="text" asp-for="Motor" class="form-control" name="MotorNew" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="PlacaNew">Placa:</label>
                                                                <input type="text" asp-for="CodPlaca" class="form-control" name="PlacaNew" readonly="readonly">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="MarcaNew">Marca:</label>
                                                                <input type="text" asp-for="NomMarca" class="form-control" name="MarcaNew" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="ModeloNew">Modelo:</label>
                                                                <input type="text" asp-for="Modelo" class="form-control" name="ModeloNew" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="ColorNew">Color:</label>
                                                                <input type="text" asp-for="Color" class="form-control" name="ColorNew" readonly="readonly">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*conductor*@
                                            <div class="row">
                                                <input type="hidden" asp-for="IdConductor" name="IdConductor">
                                                <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                                    <h4 class="form-section"><i class="la la-check-square-o"></i>Dato Conductor</h4>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="Identidad">Identidad:</label>
                                                                <input type="text" asp-for="Identidad" class="form-control" name="Identidad" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="Nombre">Nombre:</label>
                                                                <input type="text" asp-for="NomConductor" class="form-control" name="Nombre" readonly="readonly">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*Exceso de velocidad*@
                                            <div class="row">
                                                <div class="bs-callout-warning callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                                    <h4 class="form-section"><i class="la la-check-square-o"></i>Datos de Exceso de velocidad</h4>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label for="" class="col-md-8 label-control">Fecha/Hora fin de Suceso</label>
                                                                <div class="col-md-4 controls">
                                                                    <input type="text" id="FechaHoraFin" name="FechaHoraFin" class="form-control" value="@Model.FechaHoraFin.ToString("dd/MM/yyyy HH:mm")">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="Duracion" class="col-md-8 label-control">Duración de exceso de velocidad</label>
                                                                <div class="col-md-4 controls">
                                                                    <input id="Duracion" name="Duracion" class="form-control" value="@Model.Duracion.ToString("HH:mm:ss")">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="VelocidadExceso" class="col-md-4 label-control">Velocidad en KM/H</label>
                                                                <div class="col-md-8">
                                                                    <input asp-for="VelocidadExceso" name="VelocidadExceso" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="Localizacion" class="col-md-2 label-control">Localización</label>
                                                                <div class="col-md-10">
                                                                    <textarea asp-for="Localizacion" name="Localizacion" rows="3" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div id="map" style="width:100%;height:600px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
    else
    {
        @Html.Partial("_Error")
    }

}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-callout.css">
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>*@

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs3ApzfycIG7HH_2-q3sehn0_awSNhktg" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {

            @{
                if (Model != null)
                {
                    var coord = Model.CordXY;

                    <text>
            //Set the Latitude and Longitude of the Map
            var myAddress = new google.maps.LatLng(@coord);

            //Create Options or set different Characteristics of Google Map
            var mapOptions = {
                center: myAddress,
                zoom: 15,
                minZoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            //Display the Google map in the div control with the defined Options
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            //Set Marker on the Map
            var marker = new google.maps.Marker({
                position: myAddress,
                animation: google.maps.Animation.BOUNCE,
            });

            marker.setMap(map);
                    </text>
            }
        }
        });
    </script>

}