﻿@model IEnumerable<EEHAutomotor.DTO.ExcesoDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de Excesos de Velocidad</h1>
<!-- Excesos Table -->
<div class="row match-height">
    <div id="divTbVehiculos" class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title info">Reportes</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content mt-1">
                <div class="table-responsive">
                    <table class="table table-primary table-bordered bootstrap-3 compact" id="GridReportes" style="width:100%">
                        <thead>
                            <tr>
                                <th>IdExceso</th>
                                <th>PAU</th>
                                <th>PLACA</th>
                                <th>COLOR</th>
                                <th>IdMarca</th>
                                <th>MARCA</th>
                                <th>CATEGORIA</th>
                                <th>MODELO</th>
                                <th>VIN</th>
                                <th>MOTOR</th>
                                <th>FECHA/HORA FIN</th>
                                <th>DURACIÓN</th>
                                <th>VELOCIDAD EXCESO</th>
                                <th>Localización</th>
                                <th>IdConductor</th>
                                <th>CONDUCTOR</th>
                                <th>CordXY</th>
                                <th>ACCION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @*col 0*@
                                                @Html.DisplayFor(modelItem => item.IdExceso)
                                            </td>
                                            <td>
                                                @*col 1*@
                                                @Html.DisplayFor(modelItem => item.IdVehiculo)
                                            </td>
                                            <td>
                                                @*col 2*@
                                                @Html.DisplayFor(modelItem => item.CodPlaca)
                                            </td>
                                            <td>
                                                @*col 3*@
                                                @Html.DisplayFor(modelItem => item.Color)
                                            </td>
                                            <td>
                                                @*col 4*@
                                                @Html.DisplayFor(modelItem => item.IdMarca)
                                            </td>
                                            <td>
                                                @*col 5*@
                                                @Html.DisplayFor(modelItem => item.NomMarca)
                                            </td>
                                            <td>
                                                @*col 6*@
                                                @Html.DisplayFor(modelItem => item.Categoria)
                                            </td>
                                            <td>
                                                @*col 7*@
                                                @Html.DisplayFor(modelItem => item.Modelo)
                                            </td>
                                            <td>
                                                @*col 8*@
                                                @Html.DisplayFor(modelItem => item.VIN)
                                            </td>
                                            <td>
                                                @*col 9*@
                                                @Html.DisplayFor(modelItem => item.Motor)
                                            </td>
                                            <td>
                                                @*col 10*@
                                                @Html.DisplayFor(modelItem => item.FechaHoraFin)
                                            </td>
                                            <td>
                                                @*col 11*@
                                                00:@item.Duracion.ToString("mm:ss")
                                            </td>
                                            <td>
                                                @*col 12*@
                                                @Html.DisplayFor(modelItem => item.VelocidadExceso)
                                            </td>
                                            <td>
                                                @*col 13*@
                                                @Html.DisplayFor(modelItem => item.Localizacion)
                                            </td>
                                            <td>
                                                @*col 14*@
                                                @Html.DisplayFor(modelItem => item.IdConductor)
                                            </td>
                                            <td>
                                                @*col 15*@
                                                @Html.DisplayFor(modelItem => item.NomConductor)
                                            </td>
                                            <td>
                                                @*col 16*@
                                                @Html.DisplayFor(modelItem => item.CordXY)
                                            </td>
                                            <td>
                                                @*col 17*@
                                                @Html.ActionLink("Ver", "Details", "Excesos", routeValues: new { id = item.IdDecode }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Excesos Table Ends -->

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
}

@section Scripts {
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsExcesos.js"></script>
    <!-- Datatable -->
    <script>
        $(function () {
            control = new ControlExcesos(1);
        });
    </script>
}