﻿@model EEHAutomotor.DTO.VehiculoInsertDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h1>Crear nuevo vehículo</h1>
        <i class="la arrow-left-demo"></i> <a asp-action="Index">Regresar</a>
    </div>
</div>

<!-- // Basic form layout section -->
<section id="basic-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @*<h4 class="card-title" id="bordered-layout-colored-controls">Perfíl Vehículo</h4>*@
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal form-bordered" method="post" id="FrmNewVeh" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                <h4 class="form-section"><i class="la la-check-square-o"></i>Datos de Vehículo</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group controls">
                                            <label asp-for="VIN" class="label-control">VIN <span class="text-danger">*</span></label>
                                            <input asp-for="VIN" name="VIN" class="form-control" placeholder="VIN" required data-validation-required-message="Campo requerido!">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row mx-auto controls">
                                            <label asp-for="Motor" class="label-control">Motor <span class="text-danger">*</span></label>
                                            <input asp-for="Motor" name="Motor" class="form-control" placeholder="Motor" required data-validation-required-message="Campo requerido!">
                                            <span asp-validation-for="Motor" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row mx-auto">
                                            <input type="hidden" asp-for="IdPlaca" name="IdPlaca">
                                            <label asp-for="PlacaCod">Placa: <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#ModalNewPlaca"><i class="la la-search"></i></button>
                                                </div>
                                                <input asp-for="PlacaCod" name="PlacaCod" class="form-control" readonly="readonly" required data-validation-required-message="Campo requerido!">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="Categoria" class="col-md-3 label-control">Categoría <span class="text-danger">*</span></label>
                                            <div class="col-md-9 controls">
                                                <input asp-for="Categoria" name="Categoria" class="form-control" placeholder="Categoria" required data-validation-required-message="Campo requerido!">
                                                <span asp-validation-for="Categoria" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="IdMarca" class="col-md-3 label-control">Marca <span class="text-danger">*</span></label>
                                            <div class="col-md-9 controls">
                                                <select asp-for="IdMarca" class="form-control" asp-items="ViewBag.ListMarca" required data-validation-required-message="Campo requerido!"></select>
                                                <span asp-validation-for="IdMarca" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="ModeloDescrip" class="col-md-3 label-control">Descripción Modelo <span class="text-danger">*</span></label>
                                            <div class="col-md-9 controls">
                                                <input asp-for="ModeloDescrip" name="ModeloDescrip" class="form-control" placeholder="Descripción de Modelo" required data-validation-required-message="Campo requerido!">
                                                <span asp-validation-for="ModeloDescrip" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="Color" class="col-md-3 label-control">Color <span class="text-danger">*</span></label>
                                            <div class="col-md-9 controls">
                                                <input asp-for="Color" name="Color" class="form-control" placeholder="Color" required data-validation-required-message="Campo requerido!">
                                                <span asp-validation-for="Color" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="form-section"><i class="la la-check-square-o"></i>Otros Datos</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="FechaIngresoFlota" class="col-md-3 label-control">Fecha Ingreso a Flota <span class="text-danger">*</span></label>
                                            <div class="col-md-9 controls">
                                                <input type="date" asp-for="FechaIngresoFlota" name="FechaIngresoFlota" class="form-control" required data-validation-required-message="Campo requerido!">
                                                <span asp-validation-for="FechaIngresoFlota" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="KmIngreso" class="col-md-3 label-control">Kilometraje Entrada<span class="text-danger">*</span></label>
                                            <div class="col-md-9 controls">
                                                <input asp-for="KmIngreso" name="KmIngreso" class="form-control" required data-validation-required-message="Campo requerido!">
                                                <span asp-validation-for="KmIngreso" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="IdAseguradora" class="col-md-3 label-control">Aseguradora</label>
                                            <div class="col-md-9">
                                                <select asp-for="IdAseguradora" class="form-control" asp-items="ViewBag.ListAsegura"></select>
                                                <span asp-validation-for="IdAseguradora" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="TipoLicencia" class="col-md-3 label-control">Licencia Requerida<span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <select asp-for="TipoLicencia" class="form-control" asp-items="ViewBag.Listlicencias" required data-validation-required-message="Campo requerido!"></select>
                                                <span asp-validation-for="TipoLicencia" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="Combustible" class="col-md-3 label-control">Combustible <span class="text-danger">*</span></label>
                                            <div class="col-md-9 controls">
                                                <select asp-for="Combustible" class="form-control" asp-items="ViewBag.ListCombus" required data-validation-required-message="Campo requerido!"></select>
                                                <span asp-validation-for="Combustible" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="TarjetaCombustible" class="col-md-3 label-control">Tarjeta de Combustible:</label>
                                            <div class="col-md-9">
                                                <input asp-for="TarjetaCombustible" name="TarjetaCombustible" class="form-control" placeholder="Tarjeta de Combustible">
                                                <span asp-validation-for="TarjetaCombustible" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="RentaDia" class="col-md-3 label-control">Renta por Dia</label>
                                            <div class="col-md-9">
                                                <input asp-for="RentaDia" name="RentaDia" class="form-control" placeholder="Renta por Dia">
                                                <span asp-validation-for="RentaDia" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row mx-auto">
                                            <label asp-for="RentaMes" class="col-md-3 label-control">Renta por Mes</label>
                                            <div class="col-md-9">
                                                <input asp-for="RentaMes" name="RentaMes" class="form-control" placeholder="Renta por Mes">
                                                <span asp-validation-for="RentaMes" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row mx-auto">
                                            <button type="button" id="BtnBuscaVehiculo" class="btn btn-outline-info btn-min-width btn-glow mr-1 mb-1 text-center" data-toggle="modal" data-target="#bounceInDown">
                                                <i class="ft-search"></i> Buscar Vehículo Anterior
                                            </button>
                                        </div>
                                    </div>
                                    <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                        <input type="hidden" asp-for="IdVehiculoAnt" name="IdVehiculoAnt">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="VinAnt">VIN:</label>
                                                    <input type="text" id="VinAnt" class="form-control" name="VinAnt" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="MotorAnt">Motor:</label>
                                                    <input type="text" id="MotorAnt" class="form-control" name="MotorAnt" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="PlacaAnt">Placa:</label>
                                                    <input type="text" id="PlacaAnt" class="form-control" name="PlacaAnt" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="MarcaAnt">Marca:</label>
                                                    <input type="text" id="MarcaAnt" class="form-control" name="MarcaAnt" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ModeloAnt">Modelo:</label>
                                                    <input type="text" id="ModeloAnt" class="form-control" name="ModeloAnt" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ColorAnt">Color:</label>
                                                    <input type="text" id="ColorAnt" class="form-control" name="ColorAnt" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @{
                                if (Model == null)
                                {
                                    <div class="form-actions text-right">
                                        <button type="submit" id="btnCreate" class="btn btn-primary" value="Create">
                                            <i class="la la-check-square-o"></i> Guardar
                                        </button>
                                    </div>
                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Basic form layout section end -->


@await Component.InvokeAsync("VCBuscaVehiculo")
@await Component.InvokeAsync("VCBuscaPlacaNew")


@section Styles {
    @*<link href="~/css/externals/jquery-ui.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-callout.css">
}

@section Scripts {
    @*<script src="~/js/externals/jquery-1.12.4.js"></script>
        <script src="~/js/externals/jquery-ui.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsGen.js"></script>
    <script src="~/js/JsVehiculos.js"></script>

    <!-- Datatable -->
    <script>
        $(function () {
            ControlFlota(2);
            ControlFlota(3);
            ControlFlota(5);
        });
    </script>
}