﻿@model EEHAutomotor.DTO.VehiculoInsertDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string formEnable = Model != null && Model.Estado ? "Enable" : "disabled";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h1>Editar Vehículo</h1>
        <i class="la arrow-left-demo"></i> <a asp-action="Index">Regresar</a>
    </div>
</div>

@{
    if (Model != null)
    {
        <section id="basic-form-layouts">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            @*<h4 class="card-title" id="bordered-layout-colored-controls">Perfíl Vehículo</h4>*@
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collpase show">
                            <div class="card-body">
                                <form class="form form-horizontal form-bordered" method="post" id="FrmEditVeh" novalidate>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <fieldset @formEnable>
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="bs-callout-info callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                                    <h4 class="form-section">
                                                        <i class="la la-check-square-o"></i>Datos de Vehículo <span>(PAU #@Model.IdVehiculo)</span>
                                                    </h4>
                                                    <input type="hidden" asp-for="IdVehiculo" name="IdVehiculo">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label asp-for="VIN">VIN: </label>
                                                                <input asp-for="VIN" name="VIN" class="form-control" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label asp-for="Motor">Motor: </label>
                                                                <input asp-for="Motor" name="Motor" class="form-control" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="hidden" asp-for="IdPlaca" name="IdPlaca">
                                                            <label asp-for="PlacaCod">Placa: </label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#ModalNewPlaca"><i class="la la-search"></i></button>
                                                                </div>
                                                                <input asp-for="PlacaCod" name="PlacaCod" class="form-control" readonly="readonly">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label asp-for="Marca">Marca: </label>
                                                                <input asp-for="Marca" name="Marca" class="form-control" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label asp-for="ModeloDescrip">Modelo: </label>
                                                                <input asp-for="ModeloDescrip" name="Modelo" class="form-control" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label asp-for="Color">Color: </label>
                                                                <input asp-for="Color" name="Color" class="form-control" readonly="readonly">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="PlacasAnteriores">Placa(s) Anterior(es): </label>
                                                                <input asp-for="PlacasAnteriores" name="PlacasAnteriores" class="form-control" readonly="readonly">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="bs-callout-warning callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                                    <h4 class="form-section"><i class="la la-check-square-o"></i>Datos de Actualización</h4>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label for="" class="col-md-3 label-control">Fecha Ingreso a Flota <span class="required">*</span></label>
                                                                <div class="col-md-9 controls">
                                                                    <input type="date" asp-for="FechaIngresoFlota" name="FechaIngresoFlota" class="form-control" required data-validation-required-message="Campo requerido!">
                                                                    @*<span asp-validation-for="FechaIngresoFlota" class="text-danger"></span>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="KmIngreso" class="col-md-3 label-control">Kilometraje Entrada <span class="text-danger">*</span></label>
                                                                <div class="col-md-9 controls">
                                                                    <input asp-for="KmIngreso" name="KmIngreso" class="form-control" required data-validation-required-message="Campo requerido!" placeholder="0">
                                                                    <span asp-validation-for="KmIngreso" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="IdAseguradora" class="col-md-3 label-control">Aseguradora</label>
                                                                <div class="col-md-9">
                                                                    <select asp-for="IdAseguradora" class="form-control" asp-items="ViewBag.ListAsegura"></select>
                                                                    <span asp-validation-for="IdAseguradora" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="TarjetaCombustible" class="col-md-3 label-control">Tarjeta de Combustible: <span class="text-danger">*</span></label>
                                                                <div class="col-md-9 controls">
                                                                    <input asp-for="TarjetaCombustible" name="TarjetaCombustible" class="form-control" required data-validation-required-message="Campo requerido!" placeholder="#########">
                                                                    <span asp-validation-for="TarjetaCombustible" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="RentaDia" class="col-md-3 label-control">Renta por Dia</label>
                                                                <div class="col-md-9">
                                                                    <input asp-for="RentaDia" name="RentaDia" class="form-control" placeholder="0">
                                                                    <span asp-validation-for="RentaDia" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="RentaMes" class="col-md-3 label-control">Renta por Mes</label>
                                                                <div class="col-md-9">
                                                                    <input asp-for="RentaMes" name="RentaMes" class="form-control" placeholder="0">
                                                                    <span asp-validation-for="RentaMes" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="TipoLicencia" class="col-md-3 label-control">Licencia Requerida<span class="text-danger">*</span></label>
                                                                <div class="col-md-9 controls">
                                                                    <select asp-for="TipoLicencia" class="form-control" asp-items="ViewBag.Listlicencias" required data-validation-required-message="Campo requerido!"></select>
                                                                    <span asp-validation-for="TipoLicencia" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row mx-auto">
                                                                <label asp-for="Combustible" class="col-md-3 label-control">Típo de Combustible: <span class="text-danger">*</span></label>
                                                                <div class="col-md-9 controls">
                                                                    <select asp-for="Combustible" class="form-control" asp-items="ViewBag.ListCombus" required data-validation-required-message="Campo requerido!"></select>
                                                                    <span asp-validation-for="Combustible" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="bs-callout-white callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                                            <h5 class="form-section"><i class="la la-check-square-o"></i>Vehículo Anterior</h5>

                                                            <div class="col-md-12">
                                                                <div class="form-group row mx-auto">
                                                                    <button type="button" id="BtnBuscaVehiculo" class="btn btn-outline-info btn-min-width btn-glow mr-1 mb-1 text-center" data-toggle="modal" data-target="#bounceInDown">
                                                                        <i class="ft-search"></i> Buscar Vehículo Anterior
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <input type="hidden" asp-for="IdVehiculoAnt" name="IdVehiculoAnt">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="VinAnt">VIN:</label>
                                                                        <input type="text" asp-for="VinAnt" class="form-control" name="VinAnt" readonly="readonly">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="MotorAnt">Motor:</label>
                                                                        <input type="text" asp-for="MotorAnt" class="form-control" name="MotorAnt" readonly="readonly">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="PlacaAnt">Placa:</label>
                                                                        <input type="text" asp-for="PlacaAnt" class="form-control" name="PlacaAnt" readonly="readonly">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="MarcaAnt">Marca:</label>
                                                                        <input type="text" asp-for="MarcaAnt" class="form-control" name="MarcaAnt" readonly="readonly">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="MotorAnt">Modelo:</label>
                                                                        <input type="text" asp-for="ModeloAnt" class="form-control" name="ModeloAnt" readonly="readonly">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="ColorAnt">Color:</label>
                                                                        <input type="text" asp-for="ColorAnt" class="form-control" name="ColorAnt" readonly="readonly">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="bs-callout-red callout-border-left callout-square callout-bordered callout-transparent mt-1 p-1 col-md-12">
                                                    <h4 class="form-section"><i class="la la-check-square-o"></i>Datos de Baja</h4>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group row mx-auto">
                                                                <label for="switcherySize10" class="font-medium-2 text-bold-600 mr-1">Inactivo</label>
                                                                <input type="checkbox" asp-for="Estado" name="Estado" class="switchery" data-size="lg" />
                                                                <label for="switcherySize10" class="font-medium-2 text-bold-600 ml-1">Activo</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="dvSalida">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row mx-auto">
                                                                    <label for="" class="col-md-3 label-control">Fecha Salida de Flota <span class="text-danger">*</span></label>
                                                                    <div class="col-md-9 controls">
                                                                        <input type="date" asp-for="FechaSalidaFlota" name="FechaSalidaFlota" class="form-control" required data-validation-required-message="Campo requerido!">
                                                                        <span asp-validation-for="FechaSalidaFlota" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row mx-auto">
                                                                    <label asp-for="KmSalida" class="col-md-3 label-control">Kilometraje Salida <span class="text-danger">*</span></label>
                                                                    <div class="col-md-9 controls">
                                                                        <input asp-for="KmSalida" name="KmSalida" class="form-control" required data-validation-required-message="Campo requerido!">
                                                                        <span asp-validation-for="KmSalida" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                    </fieldset>
                                    @{
                                        if (Model.Estado)
                                        {
                                            <div class="form-actions text-right">
                                                <button type="submit" id="btnUpdate" class="btn btn-primary" value="Create">
                                                    <i class="la la-check-square-o"></i> Guardar
                                                </button>
                                            </div>
                                        }
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
    else
    {
        @Html.Partial("_Error")
    }

}
<!-- // Basic form layout section end -->

@await Component.InvokeAsync("VCBuscaVehiculo")
@await Component.InvokeAsync("VCBuscaPlacaNew")

@section Styles {
    @*<link href="~/css/externals/jquery-ui.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-callout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/toggle/switchery.min.css">
}

@section Scripts {
    @*<script src="~/js/externals/jquery-1.12.4.js"></script>
        <script src="~/js/externals/jquery-ui.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsGen.js"></script>
    <script src="~/js/JsVehiculos.js"></script>
    <script src="~/app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/toggle/switchery.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"></script>
    <script src="~/app-assets/js/scripts/forms/switch.js"></script>
    <!-- Datatable -->
    <script>
        $(function () {
            ControlFlota(4);
            ControlFlota(3);
            ControlFlota(5);
        });
    </script>
}