﻿@model IEnumerable<EEHAutomotor.DTO.VehiculoDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inventario Flota de vehículos</h1>
<br />
<p>
    <i class="la la-automobile"></i> <a asp-action="Create">Crear Nuevo Vehículo</a>
</p>


<!-- Placas Table -->
<div class="row match-height">
    <div id="divTbVehiculos" class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title info">Vehículos</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content mt-1">
                <div class="table-responsive">
                    <table class="table table-primary table-bordered bootstrap-3 compact" id="GridVechiculos" style="width:100%">
                        <thead>
                            <tr>
                                <th>PAU</th>
                                <th>VIN</th>
                                <th>MOTOR</th>
                                <th>PLACA</th>
                                <th>MARCA</th>
                                <th>MODELO</th>
                                <th>COLOR</th>
                                <th>PLACA ANTERIOR</th>
                                <th>CONDUCTOR</th>
                                <th>FECHA INGRESO</th>
                                <th>KM INGRESO</th>
                                <th>FECHA SALIDA</th>
                                <th>KM SALIDA</th>
                                <th>ESTADO</th>
                                <th>IdDecode</th>
                                <th>ACCION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                            <tr>
                                <td>
                                    @*col 0*@
                                    @Html.DisplayFor(modelItem => item.IdVehiculo)
                                </td>
                                <td>
                                    @*col 1*@
                                    @Html.DisplayFor(modelItem => item.Vin)
                                </td>
                                <td>
                                    @*col 2*@
                                    @Html.DisplayFor(modelItem => item.Motor)
                                </td>
                                <td>
                                    @*col 3*@
                                    @Html.DisplayFor(modelItem => item.Placa)
                                </td>
                                <td>
                                    @*col 4*@
                                    @Html.DisplayFor(modelItem => item.Marca)
                                </td>
                                <td>
                                    @*col 5*@
                                    @Html.DisplayFor(modelItem => item.Modelo)
                                </td>
                                <td>
                                    @*col 6*@
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @*col 7*@
                                    @Html.DisplayFor(modelItem => item.PlacaAnterior)
                                </td>
                                <td>
                                    @*col 8*@
                                    @Html.DisplayFor(modelItem => item.Conductor)
                                </td>
                                <td>
                                    @*col 9*@
                                    @Html.DisplayFor(modelItem => item.FechaIngresoFlota)
                                </td>
                                <td>
                                    @*col 10*@
                                    @Html.DisplayFor(modelItem => item.KmIngreso)
                                </td>
                                <td>
                                    @*col 11*@
                                    @Html.DisplayFor(modelItem => item.FechaSalidaFlota)
                                </td>
                                <td>
                                    @*col 12*@
                                    @Html.DisplayFor(modelItem => item.KmSalida)
                                </td>
                                <td>
                                    @*col 13*@
                                    @if (item.Estado)
                                    {
                                        <div class="badge border-success success badge-border">ACTIVO</div>
                                    }
                                    else
                                    {
                                        <div class="badge border-danger danger badge-border">INACTIVO</div>
                                    }
                                </td>
                                <td>
                                    @*col 14*@
                                    @Html.DisplayFor(modelItem => item.IdEncode)
                                </td>
                                <td>
                                    @*col 15*@
                                    @Html.ActionLink("Ver" + (item.Estado ? " / Editar" : ""), "Edit", "Flota", routeValues: new { id = item.IdEncode }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
                                </td>
                            </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Placas Table Ends -->

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
}

@section Scripts {
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/JsVehiculos.js"></script>
    <!-- Datatable -->
    <script>
        $(function () {
            control = new ControlFlota(1);
        });
    </script>
}