﻿
@model IEnumerable<EEHAutomotor.DTO.VehiculoDto>

@{

    <div class="modal fade animated bounceInDown text-left" id="bounceInDown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel47" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel47">Buscar Vehículo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Inventario Flota Table -->
                    <div class="row match-height">
                        <div id="divTbVehiculos" class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title info">Vehículos</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                </div>
                                <div class="card-content mt-1">
                                    <div class="table-responsive">
                                        <table id="GridVechiculos" class="table table-info table-bordered bootstrap-3 display compact" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>PAU</th>
                                                    <th>VIN</th>
                                                    <th>MOTOR</th>
                                                    <th>PLACA</th>
                                                    <th>MARCA</th>
                                                    <th>MODELO</th>
                                                    <th>COLOR</th>
                                                    <th>PLACA ANTERIOR</th>
                                                    <th>ACCION</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        @foreach (var item in Model)
                                                        {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IdVehiculo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Vin)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Motor)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Placa)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Marca)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Modelo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Color)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PlacaAnterior)
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Inventario Flota Table Ends -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

